[*.{cs,vb}]

# these are rules raised from suggestions in the IDE to warnings
# because the IDE doesn't have a way to show all suggestions (bruh)

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity = warning

# IDE0017: Simplify object initialization
dotnet_diagnostic.IDE0017.severity = warning

# IDE0028: Simplify collection initialization
dotnet_diagnostic.IDE0028.severity = warning

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = warning

# IDE0090: Simplify 'new' expression
dotnet_diagnostic.IDE0090.severity = warning

# IDE0160: Convert to block scoped namespace
dotnet_diagnostic.IDE0160.severity = none

# IDE0250: Make struct 'readonly'
dotnet_diagnostic.IDE0250.severity = warning

# IDE0251: Make member 'readonly'
dotnet_diagnostic.IDE0251.severity = warning

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = warning
